<h1>Welcome</h1>
<p>Select the country you would like to read about: </p>
<%= image_submit_tag("China.jpg") %>
<%= image_submit_tag("france.jpg") %>
<%= image_submit_tag("Russia.jpg") %>
<%= image_submit_tag("Saudi.jpg") %>
<%= image_submit_tag("usa.jpg") %>
<%= image_submit_tag("venezuela.jpg") %>
