<header class="home-logo">
  <%= link_to image_tag('home-logo.jpg'), "/" %>
</header>

<div id="home-border">
</div>

<body id="background-color">
<center>
  <h1 class="home-title">READ. <span id="emphasis">LOCAL.</span> NEWS.</h1>
<p class="summary"> A <em class="cross"> Cross-Comparitive </em> Tool: All RSS feeds are sourced <span id="underline">by country</span> </p>
  <div class="country-buttons">
    <ul>
    <li><%= link_to image_tag('china.png'), "/china" %></li>
    <li><%= link_to image_tag('egypt.png'), "/egypt"  %></li>
    <li><%= link_to image_tag('france.png'), "/france" %></li>
    <li><%= link_to image_tag('russia.png'), "/russia" %></li>
    <li><%= link_to image_tag('usa.png'), "/usa"  %></li>
    <li><%= link_to image_tag('venezuela.png'), "/venezuela" %></li>
  </ul>
  </div>
  <p class="summary2"> A <em class="cross">Culturally Relative</em> News Consolidator</p>
  <h1 class="relative">With the Latest Content</p>

<p class="summary3"> World Press Freedom Index Rankings for each country provided by <span class="cross">Reporters Without Borders</span> </p>

<!-- /*<style>
  .earth{
    position:absolute;
    top:320px;
    left:0;
    right:0;
    margin:auto;
    width: 300px;
    height: 300px;
    background-image:url(http://flatplanet.sourceforge.net/maps/images/earthmap_hires.jpg);
    border-radius:50%;
    background-size:cover;
    box-shadow:-20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear infinite;
    -webkit-transform:rotate
  }

  @keyframes spin{
    100%{background-position:100%;}
  }*/ -->



<!-- </style> -->

<div class="earth"> </div>

</center>
</body>
