<h1>Welcome</h1>
<p>Select the country you would like to read about: </p>
<%= link_to image_tag('China.jpg'), "/china" %>
<%= link_to image_tag('france.jpg'), "/france" %>
<%= link_to image_tag('Russia.jpg'), "/russia"  %>
<%= link_to image_tag('Saudi.jpg'), "/saudi-arabia"  %>
<%= link_to image_tag('usa.jpg'), "/usa"  %>
<%= link_to image_tag('venezuela.jpg'), "/venezuela"  %>
