<header class="home-logo">
  <%= link_to image_tag('home-logo.jpg'), "/" %>
</header>

<div id="home-border">
</div>

<body id="background-color">

  <h1 id="home-title">READ. <span id="emphasis">LOCAL.</span> NEWS.</h1>

  <div class="country-buttons">

    <%= link_to image_tag('china.png'), "/china" %>
    <%= link_to image_tag('egypt.png'), "/egypt"  %>
    <%= link_to image_tag('france.png'), "/france" %>
    <div>
    </div>
    <%= link_to image_tag('russia.png'), "/russia" %>
    <%= link_to image_tag('usa.png'), "/usa"  %>
    <%= link_to image_tag('venezuela.png'), "/venezuela" %>

  </div>

  <p class="summary"> A <em id="cross"> Cross-Comparitive </em> Tool: All RSS feeds are sourced <span id="underline">by country</span> </p>

<style>
  /*.earth{
    position:absolute;
    top:320px;
    left:0;
    right:0;
    margin:auto;
    width: 300px;
    height: 300px;
    background-image:url(https://images.gr-assets.com/hostedimages/1380432794ra/870513.gif);
    border-radius:50%;
    background-size:cover;
    box-shadow:-20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
    -webkit-transform:rotate
  }*/

  @keyframes spin{
    100%{background-position:100%;}
  }



</style>

<div class="earth"> </div>


</body>
