<header class="logo">
  <%= link_to image_tag('logo.jpg'), "/" %>
</header>

<header class="navbar">
   <div class="navbar-class">
     <ul>
       <li><%= link_to "Domestic", 'egypt/domestic' %></li>
       <li><%= link_to "World",  'egypt/world' %></li>
       <li><%= link_to "Business", 'egypt/business' %></li>
       <li><%= link_to "Sports", 'egypt/sports' %></li>
       <li><%= link_to "Technlogy", 'egypt/tech' %></li>
       <li><%= link_to "Culture", 'egypt/culture' %></li>
     </ul>
     </div>

   </header>

   <body>
     <h1 class="country-title"> Egypt </h1>
     <%= image_tag ('egypt-rank.jpg'), :class => "rank" %>
     <%= image_tag ('egypt-map.jpg'), :class => "map" %>
   </body>
