<header class="logo">
  <%= link_to image_tag('logo.jpg'), "/" %>
</header>

<header class="navbar">
   <div class="navbar-class">
     <ul>
       <li><%= link_to "Domestic",   '/russia/domestic' %></li>
       <li><%= link_to "World",   '/russia/world' %></li>
       <li><%= link_to "Business", '/russia/business' %></li>
       <li><%= link_to "Sports", '/russia/sports' %></li>
       <li><%= link_to "Technlogy", '/russia/tech' %></li>
       <li><%= link_to "Culture", '/russia/culture' %></li>
     </ul>
     </div>

   </header>

<h1 class = "category"> Russia: Business News </h1>
