<header class="logo">
  <%= link_to image_tag('logo.jpg'), "/" %>
</header>

<header class="navbar">
   <div class="navbar-class">
     <ul>
       <li><%= link_to "Domestic",   '/usa/domestic' %></li>
       <li><%= link_to "World",   '/usa/world' %></li>
       <li><%= link_to "Business", '/usa/business' %></li>
       <li><%= link_to "Sports", '/usa/sports' %></li>
       <li><%= link_to "Technlogy", '/usa/tech' %></li>
       <li><%= link_to "Culture", '/usa/culture' %></li>
     </ul>
     </div>

   </header>

<h1 class = "category"> United States: Domestic News </h1>


<!-- CBS  -->

<div class="news-feeds">
<%= image_tag ('cbs_logo.png'), :class => "news-feed-logo" %>


<?xml version="1.0"?>
<?xml-stylesheet href="application.css"?>

<% url='http://www.ruby-lang.org/en/feeds/news.rss' %>

<% open(url) do |rss| %>

<% feed = RSS::Parser.parse('http://www.cbsnews.com/latest/rss/us',false) %>

<% puts "feed", feed.inspect %>
<% feed.items.each do |item| %>
  <% puts "item", item.inspect %>
  <h2><%= link_to item.title,item.link  %></h2>
  <p><%= item.pubDate %> </p>

  <%  end %>
<%  end %>
</xml>

</div>





<!-- CNN  -->

<div class="news-feeds">
<%= image_tag ('cnn-logo.png'), :class => "news-feed-logo" %>


<?xml version="1.0"?>
<?xml-stylesheet href="application.css"?>

<% url='http://www.ruby-lang.org/en/feeds/news.rss' %>

<% open(url) do |rss| %>

<% feed = RSS::Parser.parse('http://rss.cnn.com/rss/cnn_us.rss',false) %>

<% puts "feed", feed.inspect %>
<% feed.items.each do |item| %>
  <% puts "item", item.inspect %>
  <h2><%= link_to item.title,item.link  %></h2>
  <p><%= item.pubDate %> </p>

<!-- <ul>
    <li class="title"><%= puts "Title: #{feed.channel.title}" %></li>
    <li class="item"><%=  puts "Item: #{item.title}" %></li>
</ul> -->

  <%  end %>
<%  end %>
</xml>

</div>


<!-- THE HILL -->

<div class="news-feeds">
<%= image_tag ('thehill.jpg'), :class => "news-feed-logo" %>


<?xml version="1.0"?>
<?xml-stylesheet href="application.css"?>

<% url='http://www.ruby-lang.org/en/feeds/news.rss' %>

<% open(url) do |rss| %>

<% feed = RSS::Parser.parse('http://thehill.com/rss/syndicator/19110',false) %>

<% puts "feed", feed.inspect %>
<% feed.items.each do |item| %>
  <% puts "item", item.inspect %>
  <h2><%= link_to item.title,item.link  %></h2>
  <p><%= item.pubDate %> </p>

  <%  end %>
<%  end %>
</xml>

</div>

<!-- NY TIMES -->

<div class="news-feeds">
<%= image_tag ('nytimes_logo.jpg'), :class => "news-feed-logo" %>


<?xml version="1.0"?>
<?xml-stylesheet href="application.css"?>

<% url='http://www.ruby-lang.org/en/feeds/news.rss' %>

<% open(url) do |rss| %>

<% feed = RSS::Parser.parse('http://rss.nytimes.com/services/xml/rss/nyt/US.xml',false) %>

<% puts "feed", feed.inspect %>
<% feed.items.each do |item| %>
  <% puts "item", item.inspect %>
  <h2><%= link_to item.title,item.link  %></h2>
  <p><%= item.pubDate %> </p>

  <%  end %>
<%  end %>
</xml>

</div>
