<header class="logo">
  <%= link_to image_tag('logo.jpg'), "/" %>
</header>

<header class="navbar">
   <div class="navbar-class">
     <ul>
       <li><%= link_to "Domestic",   'usa/domestic' %></li>
       <li><%= link_to "World",   'usa/world' %></li>
       <li><%= link_to "Business", 'usa/business' %></li>
       <li><%= link_to "Sports", 'usa/sports' %></li>
       <li><%= link_to "Technlogy", 'usa/tech' %></li>
       <li><%= link_to "Culture", 'usa/culture' %></li>
     </ul>
     </div>

   </header>
<body>
  <h1 class="country-title"> United States </h1>
  <%= image_tag ('us-map.jpg'), :class => "map" %>
  <%= image_tag ('usa-rank.jpg'), :class => "rank" %>
  <div class="news-logo-div">
 <p>Publications Currently Represented: </p>
 <%= image_tag ('cnn-logo.png'), :class => "news-logo" %>

</body>
