<header class="logo">
  <%= link_to image_tag('logo.jpg'), "/" %>
</header>

<header class="navbar">
   <div class="navbar-class">
     <ul>
       <li><%= link_to "Domestic",   '/venezuela/domestic' %></li>
       <li><%= link_to "World",   '/venezuela/world' %></li>
       <li><%= link_to "Business", '/venezuela/business' %></li>
       <li><%= link_to "Sports", '/venezuela/sports' %></li>
       <li><%= link_to "Technlogy",'/venezuela/tech' %></li>
       <li><%= link_to "Culture", '/venezuela/culture' %></li>
       <ul>
     </div>

   </header>

<h1 class = "category"> Venezuela: Business News </h1>

<!-- GUIA.VE  -->

<% url='http://www.ruby-lang.org/en/feeds/news.rss' %>

<%= open(url) do |rss| %>

<%= feed = RSS::Parser.parse("http://feeds.feedburner.com/economia-venezuela?format=xml',false) %>

<%= feed.items.each do |item| %>
    <%= puts "Title: #{feed.channel.title}" %>
    <%=  puts "Item: #{item.title}" %>
  <%  end %>
<%  end %>
