<header class="navbar  navbar-inverse">
   <div class="navbar-class">
     <div class="container">
       <li><%= link_to "Domestic",   '#' %></li>
       <li><%= link_to "World",   '#' %></li>
       <li><%= link_to "Business", '#' %></li>
       <li><%= link_to "Sports", '#' %></li>
       <li><%= link_to "Technlogy", '#' %></li>
       <li><%= link_to "Culture", '#' %></li>
     </div>
   </div>
   </header>
