<header class="logo">
  <%= link_to image_tag('logo.jpg'), "/" %>
</header>

<header class="navbar">
   <div class="navbar-class">
     <ul>
       <li><%= link_to "Domestic",   '/venezuela/domestic' %></li>
       <li><%= link_to "World",   '/venezuela/world' %></li>
       <li><%= link_to "Business", '/venezuela/business' %></li>
       <li><%= link_to "Sports", '/venezuela/sports' %></li>
       <li><%= link_to "Technlogy",'/venezuela/tech' %></li>
       <li><%= link_to "Culture", '/venezuela/culture' %></li>
       <ul>
     </div>

   </header>

<h1 class = "category"> Venezuela: Technology News </h1>

<!-- GUIA.VE  -->
<div class="news-feeds">
<%= image_tag ('logoguia.jpg'), :class => "news-feed-logo" %>

<?xml version="1.0"?>
<?xml-stylesheet href="application.css"?>

<% url='http://www.ruby-lang.org/en/feeds/news.rss' %>

<% open(url) do |rss| %>

<% feed = RSS::Parser.parse('http://feeds.feedburner.com/internet-venezuela',false) %>

<% puts "feed", feed.inspect %>
<% feed.items.each do |item| %>
  <% puts "item", item.inspect %>
  <h2><%= link_to item.title,item.link  %></h2>
  <p><%= item.pubDate %> </p>
  <p><%= item.description %></p>

<!-- <ul>
    <li class="title"><%= puts "Title: #{feed.channel.title}" %></li>
    <li class="item"><%=  puts "Item: #{item.title}" %></li>
</ul> -->

  <%  end %>
<%  end %>
</xml>

</div>
