<header class="logo">
  <%= link_to image_tag('logo.jpg'), "/" %>
</header>

<header class="navbar">
   <div class="navbar-class">
     <ul>
       <li><%= link_to "Domestic",   'france/domestic' %></li>
       <li><%= link_to "World",   'france/world' %></li>
       <li><%= link_to "Business", 'france/business' %></li>
       <li><%= link_to "Sports", 'france/sports' %></li>
       <li><%= link_to "Technlogy", 'france/tech' %></li>
       <li><%= link_to "Culture", 'france/culture' %></li>
     </ul>
          <%= image_tag ('france-rank.jpg'), :class => "rank" %>
     </div>

   </header>

   <body>
     <body>
       <center>
       <div class="country-title-container">
     <h1 class="country-title"> France </h1>
   </div>
     <%= image_tag ('france-map.jpg'), :class => "map" %>
   </div>
 </center>
   </body>
